html {
  scroll-behavior: smooth;
}

.hello-1 {
  width: 200px;
}

.hello-2 {
  top: 1400px;
  position: fixed;
}

.hello-3 {
  position: fixed;
  width: 100px;
  height: 120px;
  left: calc(100vw + 30px);
}
