.mask {
    border-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    border-style: solid;
    box-sizing: border-box;
    z-index: 999;
}

.mask-animation {
    border-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    border-style: solid;
    box-sizing: border-box;
    z-index: 999;

    transition: all 0.2s ease-in-out;
}
